
    .modal{
        margin-top: 60px;
    }

@media (max-width: 1000px) {
      .div_hide_me {
          display: none!important;
        }
     
      .candidatesection h1{
        font-size: 28px;
      }
    .li_job .intlist{
        box-shadow: 0 0 5px rgba(55,133,179,0.5);border: 1px solid #3785b3;
    }
    .titlebar_app{font-family: 'Open Sans', 'sans-serif'; border-bottom:1px solid #cdcdcd; padding: 10px 15px; font-weight:bold; color:#fff;
    background:#3785b3;width: 100%;}
    .titlebar_app h2{font-size: 16px}
     #back_arrow{position: fixed;top: 110px;left:0;z-index: 1040;background-color: white;font-size: 22px;border: 1px solid #3785b3;
    box-shadow: 0 0 10px  rgba(0,0,0,0.7);border-radius: 0 0 50% 0;padding-top: 4px;padding-right: 1px;color: #3785b3;max-height: 40px;max-width: 40px;min-height: 40px;min-width: 40px;text-align: center;display: block;
       
     }
    #back_arrow i{
        -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
       transform: rotate(45deg);
    }
#back_arrow {
        display: block!important;
    }

    #close_menu i{
        -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
       transform: rotate(45deg);
    }
    #close_menu{position: absolute;bottom: 0;right: 0;z-index: 2001;background-color: white;font-size: 22px;border: 1px solid #3785b3;
    box-shadow: 0 0 10px  rgba(0,0,0,0.7);border-radius: 50% 0 0 0;padding-top: 4px;padding-right: 1px;color: #3785b3;max-height: 40px;max-width: 40px;min-height: 40px;min-width: 40px;text-align: center;#display: none;font-weight: bold;
    }
    .search_resume_app{
        margin-top: -15px;
        padding: 15px;
    }
    .title_search_resume_app{
        #margin-bottom: -10px!important;
    }
    .search_resume_vp_app{
        position: absolute;top: -51px;
    right: -12px;
    }
    .search_resume_vp_app{
        display: none;
    }
    
    .search_resume_intlist_app{
         text-align: -webkit-center;
          padding: 5px 20px 5px 20px;
    }
    .search_resume_div_content{
        height: 210px;
       width: 260px;
       margin-left: -21px;
    }
    .search_resume_a{height: 100%;
    width: 100%;
    border: 0;}
    .search_resume_vp_app a{box-shadow: 0 0 10px  rgba(0,0,0,0.7);border-radius: 20px 0 0 0!important;}
    
    
    .text-right_app{text-align: center;}
   .captcha img{margin: 20px 10px 5px 10px;}
    .captcha{white-space: pre-wrap;}
    .searchlist_app{
        box-shadow: 0 0 5px rgba(55,133,179,0.5);
        padding-top: 5px;padding-bottom: 5px;
        margin-top: 10px;
    }
    .searchlist_app-p{
        box-shadow: 0 0 5px rgba(55,133,179,0.5);
        padding-top: 20px;padding-bottom: 5px;
        margin-top: 10px;
        background-color: white;
    }
    .pull-right_app{
        position: absolute;top: -40px;
        right: -40px;
    }
    .pull-right_app-{
        position: absolute;top: -17px;
        right: -38px;
    }
    .tools_icon{
        margin-right:5px;
    }
    .tools_icon_2{
        margin-right:5px;
    }
    .date_app{
        margin-left: -30px!important;
    }
    .date_app-{
        margin-left: -16px!important;
    }
    .date_inside{
        display: none;
    }
    .mydate{
        display: block!important;
        position: absolute;
        top: -25px;
        left: -15px;
    }
    .mydate .date{
        color: white!important;
        box-shadow: 0 0 10px  rgba(0,0,0,0.7);
        background-color: #3785b3;
        padding-left: 10px;padding-right: 10px;
    }
    .quizze_title{
        padding-top: 10px;
        margin-left: -17px;
        margin-top: 5px;
    }
    .btn_margin_top{
        margin-top: 5px;
    }
    .btn_fin{
        position: absolute;
        top: 66px;
        right: -15px;
    }
    .postjobbtn_app{
      display: block!important;background-color: #3785b3;color:white;border: 1px solid white;padding: 5px 30px 5px 30px;width: 50% ;margin-left: 25%;margin-top: 10px;
    }
    .postjobbtn{display: none!important;}
    .wc-title{font-size: 16px!important;font-weight: bold;position: absolute;top: -28px;left: 0;background-color:#dcd8d8;width: 100%;height: 28px!important;}
    .titlebar_app{margin-bottom: -10px;}
    .titlehead_app{margin-bottom: -15px;}
    .edit-ico_app i{margin-top:2px;margin-left: -35px;position: absolute;}
    .i_app_style{color:#3785b3;background-color: white;box-shadow: 0 0 5px  rgba(0,0,0,0.5);padding: 3px 5px 1px 7px;border-radius: 20%;}
    .preview_app{margin-top: 10px;}
    .img_web_app{max-height:100%!important;height: 100%!important;width: 100%;margin-left: -5px!important;}
    .calender_app{margin-top: 28px};
    .wc-nav{
        margin-left: -5px!important;
        margin-top: -6px!important;
        }
    .wc-day-column-header{font-size: 9px;overflow-x: hidden;text-align: left;padding-left: 0!important;}
    .wc-toolbar{
               height: 40px!important;
            }
    
    .vp_eye{position: absolute;padding: 5px 10px 5px 10px;box-shadow: 0 0 10px  rgba(0,0,0,0.7);border-radius: 20px 0 0 0!important;background-color:#3785b3;color: white;bottom: 4px;
    right: 24px;display: block!important;}
    .vp_eye i{color:#3785b3;background-color: white;box-shadow: 0 0 5px  rgba(0,0,0,0.5);padding: 5px;border-radius: 50%;margin-left: 5px;}
    .vp_eye:visited{color:white;text-decoration: none!important;}
    .people-list ul{height: auto!important;}
    .dashiconwrp{display: none;}
    .dashboard_div{position: fixed;top:0; left: 0;width: 100%;height: 100%;background-color: #024972;z-index: 1999;display: none;padding:0px;overflow-x: hidden;}
    .matcha_dash{position: relative;top:10px;left: 12px;}
    .dashboard_icon{
        padding-top: 16px;
        padding-left: 10px;
        padding-bottom: 16px;
        color: white;
        font-size: 1.2em;
        
        }
    .frist_dashboard_li{font-size: 1.6em!important;background-color: white;color:#444444;width: 100%;position: relative;bottom:-22px;left:0;box-shadow: 0 0 20px  rgba(0,0,0,0.7); height: 47px;
        max-height: 47px;
      overflow: hidden;
      padding-top:7px;
     }
    .frist_dashboard_icon{
        color:#444444;
        padding-left: 12px;
    }
    .head_dash_app{width: 100%;height: 20%;border-top:10px solid yellow;}
    .body_dash_app{width: 100%;height: 80%;overflow: auto;padding-top: 10px;overflow: auto;}
    .dash_list_app{margin-top: 25px;}
    .dash_list_app li{ margin-bottom: 10px;border-bottom: 2px solid yellow;margin-right: 20px; padding-bottom: 9px;
    padding-top: 9px;
    margin-left: 12px;border-radius: 5px;box-shadow: 0 0 5px  rgba(0,0,0,0.5);   height: 47px;
        max-height: 47px;}
    .username{
        ;margin-top: 15px!important;
    }
    ._padding{
        margin-left: 10px;
    }
    .formwraper{border: 0;}
	.check_left{position:absolute!important;top: 20px;
    left: 5px;}
	.label_right{margin-top: -12px!important;
    margin-left: 50px!important;}
	.myjobList_app{display:none!important;}
	.div_tools
	{
		display:block!important;
	}
	.div_tools a
	{
		float:right!important;
		padding-top:10px!important;
		padding-right:5px!important;
		padding-left:5px!important;
		padding-top:10px!important;
	}
    }

.titlebar_a{text-decoration: none;color: white!important;}
.search_resume_vp_app a i{color:#3785b3;background-color: white;box-shadow: 0 0 5px  rgba(0,0,0,0.5);padding: 5px;border-radius: 50%;margin-left: 5px;}
.vp_eye{display: none;}
.upload_file_btn{background-color: #3785b3;width: 35px;height: 30px;max-height: 30px;padding: 5px;font-size: 20px;max-width: 35px;color: white;
    padding-left: 7px;padding-top: 5px;}
.upload_file_name{padding-left: 10px;width: 92%;margin: 0;height: 30px;max-height: 30px}
.div_upload{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    display: flex;
}
#back_arrow {
       display: none;
    }



